/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

/* Color Variables */
:root {
  --white: #fff;
  --black: #222;
  --primary: #170905;
  --secondary: #dfb23d;
  --grey: #dcdfdc;
  --grey1: rgb(232, 235, 232);
  --red: #530404;
}

/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 62.5%;
}
html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #444;
}

html::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 5rem;
}

section {
  padding: 2rem 9%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  background-color: var(--white);
  color: var(--black);
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: var(--black);
}

li {
  list-style: none;
}

.container {
  max-width: 1441px;
  margin: 0 auto;
  padding: 0 3rem;
}

.d-flex {
  display: flex;
  align-items: center;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  background: var(--primary);
  color: #fff;
  cursor: pointer;
  font-weight: 600;
}

.btn:hover {
  background-color: var(--primary);
  color: var(--secondary);
}

/* 
=================
Navigation
=================
*/

.navigation {
  background-color: var(--primary);
}

.navbar-brand {
  font-weight: 600;
  font-size: 28px;
}
.navbar-brand:hover {
  color: var(--secondary);
}

.nav-link {
  color: var(--white);
}

.nav-link:hover {
  color: var(--secondary);
}

.navbar-toggler {
  color: var(--white);
}

/* 
=================
Hero Area
=================
*/

.hero {
  background-color: var(--grey);
  position: relative;
  height: calc(100vh - 30rem);
  margin: 0;
  overflow: hidden;
}

.hero-links {
  position: absolute;
  right: 6rem;
  top: 2rem;
}

.hero-links a span {
  color: var(--primary);
  opacity: 0.9;
}
.hero-links a i {
  background-color: var(--secondary);
  color: var(--white);
  padding: 0.6rem 1rem;
  margin-left: 1rem;
  border-radius: 0.7rem;
  font-size: 2rem;
}

.hero .center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  padding-top: 3rem;
}

.hero .hero-content {
  position: absolute;
  top: 30rem;
  margin: 0 auto;
}
.hero .hero-content span {
  font-size: 5rem;
  font-weight: 700;
  line-height: 0;
  font-family: "Dancing Script", cursive;
  color: var(--primary);
}

.hero .hero-content h1 {
  font-size: 12rem;
  font-weight: 900;

  color: var(--primary);
}

.hero .hero-content p {
  font-size: 3rem;
  line-height: 0;
  margin-right: 10rem;
  margin-left: 10rem;
  letter-spacing: 4px;
  font-weight: 600;
  font-family: "Dancing Script", cursive;
  color: var(--primary);
}

.hero .hero-content .hero-btn {
  display: inline-block;
  padding: 1rem 10rem;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  margin-top: 4rem;
  margin-left: 26rem;
  text-align: center;
  border-radius: 2rem;
  background-color: var(--primary);
  color: white;
}

.hero .hero-content .hero-btn:hover {
  color: var(--secondary);
}

/*
======================
Hero Media Query
======================
*/

/*
======================
 Category Section 
======================
 */
.category {
  padding: 10rem 0 5rem 0;
  overflow: hidden;
}

.category-btn {
  color: var(--secondary);
  line-height: 2.5;
  font-weight: 400;
  padding: 2rem 3rem;
  font-size: 3.5rem;
  border: 1px solid rgb(221, 220, 220);
  border-radius: 1rem;
}
.category-btn:hover {
  background-color: var(--secondary);
  color: var(--white);
}

/*
======================
Product Display Section
======================
 
 */

.product {
  font-size: 1.6rem;
  color: var(--black);
  line-height: 1.8;
  text-align: center;
}

.product .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.product .pro {
  width: 23%;
  min-width: 300px;
  padding: 12px 14px;
  background-color: var(--grey1);
  border: 1px solid rgb(221, 220, 220);
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 20px 20px 30px white;
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}

.product .pro:hover {
  box-shadow: 20px 20px 30px rgb(185, 184, 187);
}

.product .pro img {
  width: 100%;
  height: 20rem;
  border-radius: 20px;
}

.product .pro .des {
  text-align: start;
  padding: 10px 0;
}

.product .pro .des span {
  color: var(--red);
  font-size: 15px;
  font-weight: 900;
}

.product .pro .des h5 {
  padding-top: 7px;
  color: red;
  font-size: 16px;
}

.product .pro .des i {
  font-size: 12px;
  color: rgb(243, 181, 25);
}

.product .pro .des .pro-price {
  display: flex;
}

.product .pro .des .pro-price del {
  padding-top: 0.5rem;
  padding-right: 2rem;
  font-size: 16px;
  font-weight: 500;
  color: #350606;
}
.product .pro .des h3 {
  font-size: 2rem;
}

.product .pro .des .pro-price h4 {
  padding-top: 1rem;
  font-size: 16px;
  font-weight: 700;
  color: #350606;
}

.product .pro .pro-btn {
  margin-bottom: 1rem;
  padding: 2rem;
}

.product .pro .pro-btn a {
  color: var(--black);
  font-weight: 600;
  border-radius: 0.6rem;
  padding-left: 0.5rem;
  font-size: 1.2rem;
  border-radius: 0.6rem;
  border: 1px solid #170905;
  transition: 0.5s all ease-in-out;
}
.product .pro .pro-btn a i {
  background-color: var(--primary);
  color: var(--grey);
  padding: 0.5rem 0.9rem;
  border: 1px solid #170905;
}

.product .pro .pro-btn a:hover {
  border: none;
  transition: 0.5s all ease-in-out;
}

.product .pro .pro-btn a:hover .info-text {
  display: none;
  transition: 0.5s all ease-in-out;
}
.product .pro .pro-btn a:hover i {
  padding: 0.8rem 4rem;
  border-radius: 0.6rem;
  scale: 1.2;
}

/*
======================
Payment & Delivery Section
======================
 */
.payment {
  margin: 4rem 0;
}
.payment .heading {
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
  color: var(--secondary);
  margin-bottom: 4rem;
}
.payment .wrapper {
  display: flex;
  flex-basis: 33%;
}
.payment .wrapper span {
  color: var(--secondary);
  width: 100%;
  display: flex;
  font-size: 2rem;
  font-weight: 900;
  align-items: center;
  margin-bottom: 1.5rem;
}
.payment .wrapper span hr {
  border: 1px solid #dfb23d;
  color: var(--secondary);
  margin-left: 8px;
  opacity: 100%;
  outline: none;
  width: 28rem;
}
.payment .wrapper span i {
  color: var(--secondary);
  outline: none;
}

.payment .wrapper h3 {
  color: var(--primary);
  font-size: 3.5rem;
}

.payment .wrapper p {
  width: 70%;
  color: var(--primary);
  font-size: 2rem;
}

/*
======================
Banner Section
======================
 */

.banner {
  margin: 6rem 0;
  position: relative;
  background-color: var(--secondary);
}
.banner .container {
  padding: 6rem 10rem;
}
.banner .container h1 {
  color: var(--primary);
  font-size: 16rem;
  position: relative;
}

.banner .container h1 .rotate-text {
  transform: rotate(-12deg);
  font-family: "Dancing Script", cursive;
  color: var(--white);
  font-size: 8rem;
  display: inline-block;
  scale: 1.3;
  padding-left: 4rem;
  position: absolute;
  bottom: 6rem;
  left: 28rem;
}

.banner .container .banner-btn {
  background-color: var(--white);
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  font-size: 2rem;
  font-weight: 600;
  color: var(--primary);
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 3rem;
  margin-right: 12rem;
  margin-left: 6rem;
}

/*
======================
Review Section
======================
 */

.reivew {
  margin: 6rem 0;
  overflow-x: hidden;
}

.reivew .heading {
  text-align: center;
  margin: 6rem 0;
  font-size: 5rem;
  font-weight: bold;
}

.reivew .box {
  border-radius: 0.9rem;
  background: var(--grey);
  padding: 2rem;
  position: relative;
}

.reivew .box .fa-quote-right {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: var(--primary);
  font-size: 5rem;
}

.reivew .box .user {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 1rem;
}

.reivew .box .user img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  object-fit: cover;
}

.reivew .box .user h3 {
  font-size: 2rem;
  color: var(--secondary);
}

.reivew .box .user span {
  font-size: 1.5rem;
  color: var(--primary);
}

.reivew .box p {
  line-height: 2;
  color: var(--primary);
  padding: 0.5rem 0;
  width: 90%;
  text-align: justify;
  font-size: 1.6rem;
}

/*
======================
Footer Section
======================
 */

.footer {
  margin-top: 6rem 0;
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  font-size: 2.5rem;
  padding: 1rem 0;
  color: var(--secondary);
}

.footer .box-container .box a {
  display: block;
  font-size: 1.5rem;
  padding: 1rem 0;
  color: var(--white);
}

.footer .box-container .box a i {
  padding-right: 0.5rem;
  color: var(--secondary);
}
.footer .box-container .box a:hover {
  padding-right: 1.5rem;
  color: var(--secondary);
}

.footer .box-container .box a:hover i {
  padding-right: 1.5rem;
  color: var(--white);
}

.footer .credit {
  text-align: end;
  border-top: 0.1rem solid #222;
  color: var(--white);
  padding-top: 2.5rem;
  margin-top: 1rem;
  font-size: 2rem;
}

.footer .credit span a {
  color: var(--secondary);
}

/*
======================
Product Details Section
======================
 */

#prodetails {
  display: flex;
  margin-top: 60px;
}

#prodetails .single-pro-image {
  width: 40%;
  margin-right: 50px;
}

.small-img-group {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

#prodetails .single-pro-details {
  width: 50%;
  padding-top: 60px;
}
#prodetails .single-pro-details h6 {
  font-size: 1.4rem;
  color: var(--primary);
}
#prodetails .single-pro-details h1 {
  font-size: 4rem;
  color: var(--secondary);
}
#prodetails .single-pro-details h4 {
  padding: 10px 0 10px 0;
  font-size: 1.5rem;
  color: var(--primary);
}
#prodetails .single-pro-details h2 {
  font-size: 2rem;
  color: var(--primary);
}

#prodetails .single-pro-details h3 {
  padding: 10px 0 10px 0;
  font-size: 2.5rem;
  color: var(--primary);
}
#prodetails .single-pro-details span {
  line-height: 25px;
  font-size: 1.6rem;
  color: var(--primary);
  display: block;
  margin-bottom: 10px;
}

.product h2 {
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
  color: var(--secondary);
  margin: 4rem 0 2rem 0;
}

/*
======================
Collection Section
======================
 */

.collections-banner {
  padding: 20px;
  height: 20vh;
  background-color: var(--grey1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.collections-banner .heading {
  color: var(--primary);
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
}

.collections-banner p {
  color: var(--secondary);
  font-size: 2rem;
}

/*
======================
pagination Section
======================
 */

#pagination {
  text-align: center;
  padding-bottom: 40px;
}
#pagination a {
  background-color: var(--primary);
  padding: 15px 20px;
  border-radius: 4px;
  color: var(--secondary);
  font-size: 16px;
  font-weight: 700;
}

#pagination a i {
  font-size: 16px;
  font-weight: 600;
}

/*
======================
About Section
======================
 */
#about {
  background-color: var(--grey);
  margin: 30px;
  padding: 80px;
  border: 1px solid #170905;
}

.about .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.about .row .image {
  flex: 1 1 45rem;
  padding: 1rem;
}

.about .row .image img {
  width: 100%;
  border-radius: 0.5rem;
  border: 1rem solid #170905;
}

.about .row .content {
  flex: 1 1 45rem;
}

.about .row .content h3 {
  font-size: 3.5rem;
  color: var(--primary);
}

.about .row .content p {
  font-size: 2rem;
  color: var(--secondary);
  padding: 1rem 0;
  line-height: 1.5;
}

/*
======================
Contact Section
======================
 */
#form-details {
  display: flex;
  justify-content: space-between;
  background-color: var(--grey);
  margin: 30px;
  padding: 80px;
  border: 1px solid #170905;
}
#form-details form {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#form-details form h4 {
  font-size: 1.5rem;
  color: var(--secondary);
}
#form-details form h2 {
  font-size: 2.5rem;
  color: var(--secondary);
  line-height: 35px;
  padding: 20px 0;
}

#form-details form input,
#form-details form textarea {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 20px;
  background: #170905;
  font-weight: 700;
  color: var(--grey);
  border: 1px solid #170905;
}

#form-details form input::placeholder,
#form-details form textarea::placeholder {
  color: var(--grey);
  text-transform: capitalize;
}

#form-details form input:focus,
#form-details form textarea:focus {
  background: #3b2723;
}

#form-details .people div {
  padding-bottom: 25px;
  display: flex;
  align-items: flex-start;
}
#form-details .people div img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}
#form-details .people div p {
  margin: 0;
  font-size: 13px;
  line-height: 25px;
  color: var(--primary);
}
#form-details .people div p span {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: var(--secondary);
}

/*
======================
Feedback Section
======================
 */
